*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* header part start */



/* navbar style design */

.navbar-container{
    background-color: rgba(229, 84, 115, 0.10);;


}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}


.title-style{
    color: hsl(0, 0%, 9%);
    font-size: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

span{
    color: #E55473;

}

nav > ul{
    display: flex;
    align-items: center;
    margin-top: 2px;

}


nav > ul > li{
    list-style: none;
    margin: 20px;
    font-size: 15px;
}

li a{
    text-decoration: none;
    color:#474747;   
}

.btn-secondary, .btn-fourth{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #E55473;
    ;
    color: #FFF;
    font-size: 14px;
    font-family: Open Sans;

}

 /* navbar style design stop   */







.header-container{
    background-color:rgba(229, 84, 115, 0.10);;
    display: flex;
    justify-content:center;
    align-items: center;

}

.header-banner{
    margin:120px 120px 0 100px;
    /* padding: 40px; */

}

.banner-img{
    width: 400px;
    height: 366px;
    margin-bottom: 0;
    margin:120px 120px 0px 0px;


}

.header-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;

}

.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.header-description{

}

.shop-btn{
    padding: 10px 23px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 5px;
}

/* header part stop */


/* main section Start */

.main{
    width: 1920px;
    margin: 0 auto;
}

main section{
    margin-top: 70px;
}

/* #Section1 */

.featured_flowers{
  

}

.featured_flowers-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.featured_flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 20px;
}

.flowertree-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flower-tree{
    align-items: center;
    justify-content: center;
    margin: 30px 10px 20px;

}

.flower-img1{
    width: 180px;
    height: 240px;
    padding: 25px 27px 0 27px;;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);    
}

.flower-img{
    width: 180px;
    height: 240px;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);    
    padding: 25px 27px 0 27px;;

}



.tree{
    color: #272727;
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: underline;
    margin: 0 70px;
    line-height: 40px;

}


/* Optional part section start */

.optional-section{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 20px;
    /* padding: 25px 40px 100px; */

   
}

.free-support{
    max-width: 1440px;
    background: rgba(39, 39, 39, 0.05);
    padding: 25px 46px; 
   
}

.free-support-img{
    width: 50px;
    margin: 20px 48px;
    align-items: center;
}

.free-support-title{
    color: rgba(39, 39, 39, 0.80);
    font-size: 10px;
    font-weight: 400;
    align-items: center;
    margin: 0px 10px;
    text-align: center;
    line-height: 0;

    
}

/* Optional part section stop */




/* Hot Deal section start */




.hot-deal-container{
    background-color:rgba(229, 84, 115, 0.10);;
    display: flex;
    justify-content:center;
    align-items: center;

}

.hot-deal-banner{
    margin:120px 120px 0 100px;
    text-align: center;

}



.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.off{
    color: #E55473;
}

.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}




.hot-deal-btn{
    padding: 10px 23px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 5px;
}

 /* Hot Deal section stop */




/* instagram section start */

.instagram-div{
    display: flex;
    justify-content: center;
    text-align: center;     
}


.instagram-sub-div{
    margin: 14px 2px;
}

.insta-img{
    margin: 10px;
    height: 250px;
    width: 160px;

}
/* instagram section stop */



/* Get The Latest Deals section start */

.search-bar{
    width: 400px;
    height: 34px;
    border-radius: 8px;
    background: #FFF;
}


.search-bar-picture{
  

}

.search-section-div{
    background-color: aqua;
    display:flex;
    justify-content: center;

}





/* Get The Latest Deals section stop */


/* main section stop */



/* footer part Start */



.footer-container-div{
    background-color:#111010;
    padding: 50px 20px;

}

.featured_flowers-title{
    color: #FFFFFF;
    
}


.featured_flowers-description{

    color: rgba(255, 255, 255, 0.40);
    
}

